 <li class="comment_area__list__comment">
  <div class="comment_area__list__comment__left_box">
   <span><%= comment.user.name %></span>
  </div>
  <div class="comment_area__list__comment__right_box">
    <div class="comment_area__list__comment__right_box__info">
      <span>編集</span>
      <%= link_to '削除', board_comment_path(@board.id, comment.id), method: :delete, data: {confirm: '削除して宜しいでしょうか?'} %>
      <span>投稿日時：<%= comment.created_at.to_s(:datetime) %></span>
    </div>
    <div class="comment_area__list__comment__right_box__text">
      <span><%= comment.comment %></span>
    </div>
  </div>
</li>
