<footer class="footer">
  <div class="footer__bar">
    <h4 class="footer__bar__icon">
      <span>Bulletin board</span>
    </h4>
    <div class="footer__bar__copylight">
      <span>©︎2021 joint development.com  All Rights Reserved.</span>
    </div>
  </div>
</footer>