<% if flash[:error_messages] %>
  <div class="vali_alert">
    <ul>
      <% flash[:error_messages].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: board, local: true) do |f| %>
  <div class="form_area">
    <div class="form_area__field">
      <%= f.text_area :content, rows: 10, placeholder: "投稿内容を入力" %>
    </div>
  
    <div class="form_area__action">
      <%= f.submit '投稿', class: 'form_area__action__btn' %>
    </div>
  </div>
<% end %>